<!--form.vtl-->
<h1>"Let's make some change!" - Obama 2008</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="total">Enter a dollar amount</label>
    <span class="input-group-addon">$</span>
    <input id="total" name="total" placeholder="500" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me my change!</button>
</form>
<!--form.vtl-->
